{% extends 'base_dashboard.html' %}
{% load permission_tags %}


{% block content %}


<div class="inventory-list-heading d-flex justify-content-between align-items-center">

<h2>
Raw Materials
</h2>


{% if request.user|can_add:"INVENTORY_RAW_MATERIALS" %}
<a href="{% url 'inventory:material_create' %}"
class="btn btn-primary">

+ Add Material

</a>
{% endif %}

</div>



<div class="table-responsive compact-table-wrap mt-3">
<table class="table table-bordered compact-mobile-table">


<tr>

<th>Name</th>
<th>Code</th>
<th>Stock</th>
<th>Cost</th>
<th>Status</th>
<th>Action</th>

</tr>
{% for material in materials %}
<tr>
<td>
{{material.name}}
</td>
<td>
{{material.code}}
</td>
<td>
{{material.current_stock}}
{{material.unit}}
</td>
<td>
{{material.unit_cost}}
</td>
<td>
{{material.status}}
</td>
<td><a href="{% url 'inventory:material_detail' material.id %}"
class="btn btn-sm btn-outline-primary">View</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
