{% extends "base_dashboard.html" %}


{% block title %}
Expense Form
{% endblock %}



{% block content %}


<div class="container py-4">


<div class="card shadow">


<div class="card-body">


<h3>

💸 Add Expense

</h3>



<form method="POST">


{% csrf_token %}



<div class="row">


{% for field in form %}


<div class="col-md-6 mb-3">


<label class="form-label">

{{field.label}}

</label>


{{field}}


</div>


{% endfor %}



</div>




<button class="btn btn-danger">

Save Expense

</button>



<a href="{% url 'finance:expense_list' %}"
class="btn btn-secondary">

Cancel

</a>



</form>


</div>


</div>


</div>



{% endblock %}