{% extends "base_dashboard.html" %}


{% block title %}
Expenses
{% endblock %}



{% block content %}


<div class="container-fluid py-4">



<div class="d-flex justify-content-between mb-4">


<h2 class="fw-bold">

💸 Expenses

</h2>


<a href="{% url 'finance:expense_create' %}"
class="btn btn-danger">

+ Add Expense

</a>


</div>




<div class="card shadow-sm">


<div class="card-body">


<table class="table table-hover">


<thead class="table-dark">


<tr>

<th>Date</th>

<th>Title</th>

<th>Type</th>

<th>Supplier</th>

<th>Amount</th>

<th>Action</th>


</tr>


</thead>



<tbody>


{% for expense in expenses %}



<tr>


<td>

{{expense.date}}

</td>


<td>

{{expense.title|default:"Expense"}}

</td>



<td>

{{expense.get_expense_type_display}}

</td>



<td>

{{expense.supplier|default:"-" }}

</td>



<td class="text-danger fw-bold">

{{expense.amount}}

</td>



<td>


<button class="btn btn-warning btn-sm">

Edit

</button>



<button class="btn btn-danger btn-sm">

Delete

</button>


</td>



</tr>


{% empty %}


<tr>

<td colspan="6"
class="text-center">

No expenses found

</td>

</tr>


{% endfor %}



</tbody>


</table>


</div>


</div>



</div>


{% endblock %}